[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "Unity"]
	path = Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
